<div class='loginPage'>


<div class="container">

<div class="inputsHolder">

  <img src="assets/imgs/orange-logo.jpg" class="orangeLogo" />

<h2>Welcome to</h2>
<h1>Orange Workflow CF</h1>

<form>

  <mat-form-field class="example-full-width">
    <mat-label>Username</mat-label>
    <input matInput placeholder="ahmed.abdelghany@asset.com.eg" value="">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Password</mat-label>
    <input matInput placeholder="" value="">
  </mat-form-field>

  <mat-slide-toggle class="switchBtnRestyle">
Slide me!
</mat-slide-toggle>

  <button mat-flat-button>LOGIN</button>

</form>

</div>

<div class="imgHolder">
  <img src="assets/imgs/login-img.jpg" />
</div>

</div>



</div>